body {
	font-family: Quicksand, sans-serif;
	background: AntiqueWhite;
}

.myself {
	height: 250px;
	border-radius: 50%;
	border: 2px solid Crimson;
}

.container {
	text-align: center;
}

figcaption:hover {
	color:Crimson;
	margin-left: 0px;
}

.simplon {
	font-weight: bold;
	color: Crimson;
}

p {
	margin: 50px 0px 50px 0px;
}

.godfather, .inception, .terminator, .aliens {
	text-decoration: none;
	color: black;
}


.github, .twitter, .linkedin {
	height: 50px;
	border-radius: 50%;
	margin: 0px 80px 0px 80px;
}

table, td, th {
	border-collapse: collapse;
	border:1px solid black;
	text-align: center;
}

a:hover {
	color: Crimson;
}

table {
	margin: auto;
	width:300px;

}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

}