ul {
	padding: 0;
	margin: 0;
	list-style-type: none ;
 }

ul li a {
	float: right;  
	width: 150px;
	line-height: 25px;
	background: black;
	color: white;
	text-decoration: none;
	text-align: center;
 }

ul li a:hover {
	color: lightcoral;
	font-weight: bold;
 }  

body {
	font-family: Quicksand, sans-serif;
	background: AntiqueWhite;
}

.myself {
	height: 250px;
	border-radius: 50%;
	border: 2px solid lightcoral;
}

.container {
	padding: 50px;
	text-align: center;
}

figcaption:hover {
	color:Crimson;
	margin-left: 0px;
	font-weight: bold;
}

.simplon {
	font-weight: bold;
	color: lightcoral;
}

p {
	margin: 50px 0px 50px 0px;
}

.godfather, .inception, .terminator, .aliens {
	text-decoration: none;
	color: black;
}


.github, .twitter, .linkedin {
	height: 40px;
	margin: 5px 60px 5px 60px;
}


table, td, th {
	border-collapse: collapse;
	border:1px solid black;
	text-align: center;
	background-color: lightcoral;
}

a:hover {
	color: antiquewhite;
	font-weight: bold;
}

table {
	margin: auto;
	width:300px;

}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

}