/*--- BODY ---*/
body {
	font-family: Quicksand, sans-serif;
	background: AntiqueWhite;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
/*--- END BODY ---*/

/*--- CONTAINER ---*/
.container {
	/*display: flex;
	justify-content: center;*/
	text-align: center;
}
/*--- END CONTAINER ---*/

/*--- NAV ---*/
#menu {
  display: flex;
  justify-content: space-around;
  background-color: black;
  text-decoration: none;
  height: 30px;

}

#infos, #movies, #contact {
  text-decoration: none;
  margin: auto;
  color: lightcoral;

}

#infos:hover, #movies:hover, #contact:hover {
  color: crimson;
  font-weight: bold;
}
/*--- END NAV ---*/

img {
	height: 250px;
	border-radius: 50%;
	border: 2px solid lightcoral;
	margin-top: 50px;

}

p {
	margin: 50px 0px 50px 0px;
}

.simplon {
	font-weight: bold;
	color: lightcoral;
}

table, td, th {
	border-collapse: collapse;
	border:1px solid black;
	text-align: center;
	background-color: lightcoral;
}

a:hover {
	color: antiquewhite;
	font-weight: bold;
}

table {
	margin: auto;
	width:300px;


}

.godfather, .inception, .terminator, .aliens {
	text-decoration: none;
	color: black;
}



/*FOOTER */

footer {
	padding-top: 50px;
	display: flex;
	justify-content: center;
}

.github, .twitter, .linkedin {
	height: 40px;
	margin: 5px 60px 5px 60px;
}
